html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  main {
    text-align: center;
  }

  form {
    list-style: none;
    display: flex;
    flex-direction: column;
    
    margin-top: 10px;
  }
  
  input[type="radio"] {
    list-style: none;
    margin-right: 10px;
  }